* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #06e9e4;
}

.header {
    padding: 20px;
    font-family:cursive
    background-color: #04f0d5;
    color: #ed6a07;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .Alex {
    color: #06e9e4;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: cursive
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #e97006;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #fffff
.My.Bio {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    background-color: #06e9e4;
    color: #1e1818;
}
.footer {
    padding: 30px;
    clear: both;
    font-family: cursive;
    text-align: center;
}
.footer h2 {
    font-size: 20px;
}
